<div id="footer">
  <div class="wrap clearfix">
    <div class="about">
      <p>Pastebin cho người đẹp zai.<br><br><span>2016 &copy; BachNX</span></p>
      <p>Origin theme by <b>NodeQuery&trade;</b></p>
    </div>
    <ul class="navigation">
      <li>
        <h3>Navigation</h3>
      </li>
      <li><a routerLink="/">ToS</a></li>
      <li><a routerLink="/">Help</a></li>
    </ul>
    <ul class="navigation">
      <li>
        <h3>Connect</h3>
      </li>
      <li><a href="http://blog.ngobach.com/" target="_blank"><span class="inline-icon social blog"></span>Blog</a></li>
      <li><a href="https://fb.me/bachnx95" target="_blank"><span class="inline-icon social facebook"></span>Facebook</a></li>
      <li><a href="https://github.com/thanbaiks" target="_blank"><span class="inline-icon social github"></span>Github</a></li>
    </ul>
    <ul class="navigation">
      <li>
        <h3>Partners</h3>
      </li>
      <li>Interested?<br><a href="mailto:thanbaiks@gmail.com">Get in touch with me</a></li>
    </ul>
  </div>
</div>